h1 {
    color: aquamarine;
}

h2 {
    color: white;
}

body {
    background-color: black;
    text-align: center;
    padding: 0 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: aquamarine;
    color: darkgreen;
    padding: 8px;
    border-radius: 8px;
    border-color: transparent;
}